JpgImage_1 RCData "files\\Image (0).jpg"
JpgImage_2 RCData "files\\Image (1).jpg"
JpgImage_3 RCData "files\\Image (2).jpg"
JpgImage_4 RCData "files\\Image (3).jpg"
JpgImage_5 RCData "files\\Image (4).jpg"
JpgImage_6 RCData "files\\Image (5).jpg"
JpgImage_7 RCData "files\\Image (6).jpg"
JpgImage_8 RCData "files\\Image (7).jpg"
JpgImage_9 RCData "files\\Image (8).jpg"
JpgImage_10 RCData "files\\Image (9).jpg"
JpgImage_11 RCData "files\\Image (10).jpg"
JpgImage_12 RCData "files\\Image (11).jpg"
JpgImage_13 RCData "files\\Image (12).jpg"
Drop RCData "files\\DropBox.png"
DropOver RCData "files\\DropBox-Hover.png"
eng RCData "files\\eng.lng"
srb RCData "files\\srb.lng"
Cursor_1 RCData "files\\Space.cur"
Cursor_3 RCData "files\\Electricity.ani"
Cursor_5 RCData "files\\Bullseye.ani"
Cursor_6 RCData "files\\Cool.ani"
Cursor_7 RCData "files\\Game.ani"
Cursor_8 RCData "files\\Cool Game.ani"
Cursor_4 RCData "files\\Blue Fire.ani"
Cursor_2 RCData "files\\Blue.cur"
DropNot RCData "files\\DropBox-Hover-Not.png"
DropYes RCData "files\\DropBox-Hover-Yes.png"
